<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appmaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity01Login" />
        <activity android:name=".Activity02Register" />
        <activity android:name=".Activity04ForgetPassword" />
        <activity android:name=".Activity05ReLogin" />
        <activity android:name=".Activity06AccountBind" />
        <activity android:name=".Activity07PhoneNBBind"></activity>
        <activity android:name=".Activity08MainMenu">
        </activity>
        <activity android:name=".Activity09AnnouncementList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>